<form>
  <div class="profile">
    <div class="profile__title">
      {{{avatar}}}
      Изменить пароль
    </div>

    <div class="profile__info">
      {{{oldPwdTextField}}}
      {{{newPwdTextField}}}
      {{{replayPwdTextField}}}
    </div>
    <div class="changeUserData__btns">
      {{{saveBtn}}}
      {{{returnBtn}}}
    </div>
  </div>
</form>
