<div class="profile__title">
    {{{avatar}}}
    Профиль
</div>
<div class="profile__info">
    {{{emailTextField}}}
    {{{loginTextField}}}
    {{{firstNameTextField}}}
    {{{secondNameTextField}}}
    {{{chatNameTextField}}}
    {{{phoneNumberTextField}}}
</div>
<div class="profile__btns">
    {{{changeUserDataBtn}}}
    {{{changePasswordBtn}}}
    {{{returnBtn}}}
</div> 
