<form class="registration">
  <div class="registration__title">
    Регистрация
  </div>
  <div class="registration__info">
    {{{emailTextInput}}}
    {{{loginTextInput}}}
    {{{firstNameTextInput}}}
    {{{secondNameTextInput}}}
    {{{phoneTextInput}}}
    {{{passwordTextInput}}}
    {{{replayPasswordTextInput}}}
  </div>
  <div class="registration__btns">
    {{{regBtn}}}
    {{{loginBtn}}}
  </div>
</form>
