<form>
<div class="profile">
    <div class="profile__title">
        {{{avatar}}}
        Редактирование
    </div>

    <div class="profile__info">
        {{{emailTextField}}}
        {{{loginTextField}}}
        {{{firstNameTextField}}}
        {{{secondNameTextField}}}
        {{{chatNameTextField}}}
        {{{phoneNumberTextField}}}
    </div>
    <div class="changeUserData__btns">
        {{{saveBtn}}}
        {{{returnBtn}}}
    </div>
</div>
</form>
