<label class="text-field__label" for="{{name}}">{{header}}</label>
<input class="text-field__input" type={{type}} name="{{name}}" pattern="{{pattern}}" required="required" placeholder="{{placeholder}}">
