<span class="user-info__name">{{fieldName}}</span>
<input class="user-info__edit" name="{{inputName}}" pattern="{{pattern}}" type="{{fieldType}}" value="{{fieldValue}}" required="required" {{input}} >