<div class="create-chat">
    {{{chatNameTextField}}}
    {{{createChatBtn}}}
</div>

<div class="add-user">
    {{{addUserTextField}}}
    {{{addUserBtn}}}
</div>

<div class="remove-user">
    {{{removeUserTextField}}}
    {{{removeUserBtn}}}
</div>